.myHeader {
    background-color: lavender;
    height: 75px;
    margin: 10px;
    padding: 20px;
    margin-left: 175px;
}

.myContent {
    height: 75px;
    width: 80%;
    background-color: grey;
    margin: 10px;
    margin-left: 200px;
    margin-right: 25px;
}

.form-style-8 {
    font-family: 'Open Sans Condensed', arial, sans;
    width: 40%;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form-style-8 legend {
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}

.form-style-8 input[type="text"],
.form-style-8 input[type="radio"],
.form-style-8 input[type="checkbox"],
.form-style-8 select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 50%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}

.form-style-8 input[type="radio"],
.form-style-8 input[type="checkbox"] {
    margin: 0px;
    margin-left: -20px;
    margin-bottom: -30px;
}

.form-style-8 input[type="button"],
.form-style-8 input[type="submit"],
.form-style-8 input[type="reset"] {
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    margin-top: 50px;
    margin-left: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

.form-style-8 label {
    width: 40%;
}

.form-style-8 input[type="button"]:hover,
.form-style-8 input[type="submit"]:hover,
.form-style-8 input[type="reset"]:hover {
    background: linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color: #34CACA;
}

.form-style-8 fieldset {
    border-style: none;
    width: 40%;
}

h4 {
    margin-bottom: 0;
}
.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}
.footer {
    position: absolute;
    right: 0;
    bottom: 10;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}
.footer a{
    text-decoration: none;
    padding: 2px;
}
.footer a:visited, footer a:hover, footer a:active{
    color: black;
}
#email{
    color: black;
}